extends ../layout

block content
  .container
    hr
    h1 예약 신청받은 목록
    table.table
      tr
        th 예약자 이메일
        th 제목
        th 가격
        th 인원
        th 체크인
        th 체크아웃
        th 예약 상태
        th
      each reservation in reservations
        tr
          td= reservation.email
          td
            a(href='/host/#{reservation.post}')= reservation.title
          td #{reservation.charge}원
          td #{reservation.persons}명
          td= moment(reservation.checkin).format('YYYY-MM-DD HH:mm:ss')
          td= moment(reservation.checkout).format('YYYY-MM-DD HH:mm:ss')
          td= reservation.reserveState
          td
            if (reservation.reserveState != "예약승인")
                form(action='/reserve/#{reservation.id}/approve?_method=PUT',method="POST")
                    button.btn-sm.btn-primary#btnSubmit(type="submit") 예약 승인
                    | 
                    a.btn.btn-sm.btn-danger(data-id=reservation.id, class='delete') 취소
            else
                a.btn.btn-sm.btn-danger(data-id=reservation.id, class='delete') 삭제
            

    form#deleteForm(style='display:none', method="POST")
    script(type='text/javascript').
      $(".delete").click(function(e) {
        var id = $(e.currentTarget).data('id');
        if (confirm('정말 취소하시겠습니까?')) {
          $("#deleteForm").attr('action', "/reserve/" + id + "?_method=DELETE").submit();          
        }
        return false;
      });