extends layout

block hero-unit
  .jumbotron
    .container
      h1 BNB-RIA

block content
  .container
    .form
      .col-sm-3
        input.form-control(type='text', id='q', size=20, placeholder='위치')
      .col-sm-3
        input.form-control(type='text', id='q', size=20, placeholder='날짜')
      .col-sm-3
        input.form-control(type='text', id='q', size=20, placeholder='인원')
        
      i.fa.fa-spin.fa-spinner
      ul.suggest-box
      br

    h1 숙소
    table.table
      tr
        th 제목
        th 내용
        th 작성일
        th 주소
        th 숙소요금
        th 편의시설
        th 이용규칙
      each host in hosts
        tr
          td
            a(href='/host/#{host.id}')= host.title
          td= host.content
          td= moment(host.createdAt).format('YYYY/MM/DD')
          td= host.address
          td= host.charge
          td= host.infrastructure
          td= host.facility
          td= host.rule

script(type='text/javascript', src='/javascripts/day.js')