extends layout

block hero-unit
  .jumbotron
    .container
      h1 BNB-RIA

block content
  .container
    h1 도시 검색
    .form
      input.form-control(type='text', id='q', size=20, placeholder='Type your country')
      i.fa.fa-spin.fa-spinner
      ul.suggest-box
      br
      script(type='text/javascript', src='/javascripts/autocomplete.js')

    h1 추천 숙소
      br
      br
      each host in hosts
        .col-sm-5q.col-md-3
          a.thumbnail(href='/host/#{host.id}')
            img.img-responsive(src="http://cfile25.uf.tistory.com/image/2712484255E46EF4130A55")
          h5 #{host.charge}원 #{host.city}에 위치한 
          | 
          h5 댓글#{host.numComment}개, 조회수 #{host.read}회
          | 
          a.btn.btn-lm.btn-primary(href='/reserve/#{host.id}') 예약
          p
          br

form#deleteForm(style='display:none', method="POST")       
script(type='text/javascript').
  $(".delete").click(function(e) {
    var id = $(e.currentTarget).data('id');
    if (confirm('정말 삭제하시겠습니까?')) {
      $("#deleteForm").attr('action', "/host/" + id + "?_method=DELETE").submit();          
    }
    return false;
  });
  