extends ../layout

block content
  .container
    h1.page-header List
    
    table.table.table-bordered
      thead
        tr
          th 이메일
          th 제목
          th 날짜
          th 조회수
          th
      tbody
        each post in posts
          tr
            td= post.email
            td
              a(href='/posts/#{post.id}')= post.title
            td= moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss')
            td= post.read
            td
              a.btn.btn-xs.btn-default(href='/posts/#{post.id}/edit') 수정
              | 
              a.btn.btn-xs.btn-default(data-id=post.id, class='delete') 삭제

    a.btn.btn-primary(href='/posts/new') 글쓰기


    form#deleteForm(style='display:none', method="POST")
            
    script(type='text/javascript').
      $(".delete").click(function(e) {
        var id = $(e.currentTarget).data('id');
        if (confirm('정말 삭제하시겠습니까?')) {
          $("#deleteForm").attr('action', "/posts/" + id + "?_method=DELETE").submit();          
        }
        return false;
      });

