extends ../layout

block content
  .container
    h1.page-header 나의 예약 목록
    
    table.table.table-bordered
      thead
        tr
          th 이메일
          th 제목
          th 작성일
          th 조회수
          th 예약 상황
          th 관리
      tbody
        each host in hosts
          tr
            td= host.email
            td
              a(href='/host/#{host.id}')= host.title
            td= moment(host.createdAt).format('YYYY-MM-DD HH:mm:ss')
            td= host.read
            td
              a(href='/host/#{host.id}')= host.reservation
            td
              a.btn.btn-sm.btn-primary(href='/host/#{host.id}/edit') 수정
              | 
              a.btn.btn-sm.btn-danger(data-id=host.id, class='delete') 삭제


    form#deleteForm(style='display:none', method="POST")
            
    script(type='text/javascript').
      $(".delete").click(function(e) {
        var id = $(e.currentTarget).data('id');
        if (confirm('정말 삭제하시겠습니까?')) {
          $("#deleteForm").attr('action', "/host/" + id + "?_method=DELETE").submit();          
        }
        return false;
      });