extends ../layout

block content
  .container
    h1= host.title
    h3 제공자 #{host.email}
    .inline
        p 도시 : #{host.city},  조회수 : #{host.read}, 댓글 수 : #{host.numComment}
    br
    h2 예약 상태 : #{host.reservation}
    br
    p
    h3 상세설명
    .well
      p #{host.content}
    br
    h3 주소
    .well
        p 도시 : #{host.city}
        p 주소 : #{host.address}
    br
    h4 주요 시설
    .well
        p 편의시설 : #{host.facility}
        p 규칙 : #{host.rule}
        p 가격 : #{host.charge}
       
        p 수용 가능 인원 : #{host.persons}
      h3
        p 체크인 날짜 : #{moment(host.checkin).format('YYYY/MM/DD')}
        p 체크아웃 날짜 : #{moment(host.checkout).format('YYYY/MM/DD')}
    br
    br
    h2 위치
    #map(style='width:100%;height:350px;')
    | 
    hr
    h3 Comment (#{host.numComment})
    table.table
      tr
        th email
        th content
        th time
      each comment in comments
        tr
          td= comment.email
          td= comment.content
          td= moment(comment.createdAt).format('YYYY/MM/DD')
    
    form.form-inline(action='/host/' + host._id + '/comments', method='POST')
      .form-group
        label.sr-only(for='email') email
        input.form-control(name='email', placeholder='email')
      .form-group
        label.sr-only(for='content') content
        input.form-control(name='content', size=50, placeholder='content')
      button.btn.btn-info 댓글저장
      
    hr
    a.btn.btn-primary(href='/reserve/#{host.id}') 예약
    a.btn.btn-default(href='/') 목록
      script.
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
        center: new daum.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
        };
        // 지도를 생성합니다
        var map = new daum.maps.Map(mapContainer, mapOption);
        // 주소-좌표 변환 객체를 생성합니다
        var geocoder = new daum.maps.services.Geocoder();
        // 주소로 좌표를 검색합니다
        geocoder.addr2coord('#{host.address}', function(status, result) {
        // 정상적으로 검색이 완료됐으면
        if (status === daum.maps.services.Status.OK) {
        var coords = new daum.maps.LatLng(result.addr[0].lat, result.addr[0].lng);
        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new daum.maps.Marker({
        map: map,
        position: coords
        });
        // 인포윈도우로 장소에 대한 설명을 표시합니다
        var infowindow = new daum.maps.InfoWindow({
        content: '<div style="width:150px;text-align:center;padding:6px 0;">숙소 위치</div>'
        });
        infowindow.open(map, marker);
        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(coords);
        }
        });
       