extends ../layout

block content
  .container
    h1.page-header List
    
    //- | total #{pagination.numPosts} posts
    table.table.table-bordered
      thead
        tr
          th 이메일
          th 제목
          th 날짜
          th 조회수
          th
      tbody
        each post in posts
          tr
            td= post.email
            td
              a(href='/posts/#{post.id}')= post.title
            td= moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss')
            td= post.read
            td
              a.btn.btn-xs.btn-default(href='/posts/#{post.id}/edit') 수정
              | 
              a.btn.btn-xs.btn-default(data-id=post.id, class='delete') 삭제

    a.btn.btn-primary(href='/posts/new') 글쓰기

    //- 아래의 Pagination 부분은 만들 수 있다면 추가 점수 부여합니다. 
    //- 못하겠으면 빼도 좋아요.              
    //- nav.center
    //-   ul.pagination
    //-     li(class=pagination.firstPage.cls): a(href=pagination.firstPage.url)
    //-       span(aria-hidden="true") &laquo;
    //-     li(class=pagination.prevPage.cls): a(href=pagination.prevPage.url)
    //-       span(aria-hidden="true") &lt;
    //-     each page in pagination.pages
    //-       li(class=page.cls)
    //-         a(href=page.url): span= page.text
    //-     li(class=pagination.nextPage.cls): a(href=pagination.nextPage.url)
    //-       span(aria-hidden="true") &gt;
    //-     li(class=pagination.lastPage.cls): a(href=pagination.lastPage.url)
    //-       span(aria-hidden="true") &raquo;

    form#deleteForm(style='display:none', method="POST")
            
    script(type='text/javascript').
      $(".delete").click(function(e) {
        var id = $(e.currentTarget).data('id');
        if (confirm('정말 삭제하시겠습니까?')) {
          $("#deleteForm").attr('action', "/posts/" + id + "?_method=DELETE").submit();          
        }
        return false;
      });

