extends ../layout

block content
  .container
    h1.page-header 회원 정보
          
    ul
      li 이름: #{user.name}
      li 이메일: #{user.email}
      if user.facebook
        li Facebook 
          img.img-circle(src='#{user.facebook.photo}')
    hr
    h1 여행 관리
    br
    p
      a.btn.btn-default(href='/host/myhosting') 호스팅 목록
      | 
      a.btn.btn-default(href='/host/myhosting') 예약 목록
      | 
    p
    br
    hr
    h1 계정 관리
    br
    p
      a.btn.btn-default(href='/users/#{user._id}/edit') 비밀번호 변경
      | 
      a.btn.btn-sm.btn-danger(data-id=user.id, class='delete') 삭제
      //a.btn.btn-default(href='/users/#{user.id}?_method=DELETE') 계정 삭제

    form#deleteForm(style='display:none', method="POST")
    script(type='text/javascript').
      $(".delete").click(function(e) {
        var id = $(e.currentTarget).data('id');
        if (confirm('정말 삭제하시겠습니까?')) {
          $("#deleteForm").attr('action', "/users/" + id + "?_method=DELETE").submit();          
        }
        return false;
      });
